.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 20;
}
.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}
.header__search{
    display: flex;
    flex: 1;
}
.header__searchInput{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
}
.header__searchInputIcon{
    background-color: #FEBD69;
    height: 40px;
    align-items: center;
    display: flex;
    padding: 0 10px 0 10px;
    border: none;
    outline: none;
    border-radius: 0 4px 4px 0;
}
.header__nav{
    color: white;
    display: flex;
    padding: 10px;
}
.header__option{
    border: 1px solid #131921 ;
    margin: 8px;
    padding: 7px;
}
.header__option:hover{
    border: 1px solid white;
    border-radius: 4px;
}
.header__optionLineOne{
    font-size: 12px;
    font-weight: 400;
}
.header__optionLineTwo{
    font-size: 14px;
    font-weight: 600;
}
.header__option__cart{
    color: white;
    margin: 7px;
    padding: 3px;
    display: flex;
    align-items: center;
    border: 1px solid #131921;
}
.header__option__cart:hover{
    border: 1px solid white;
    border-radius: 4px;
}
