.single_product_set{
    padding: 0 10px 0 10px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;  
    margin-bottom: 20px; 
}
.single_of_product{
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
    background-color: white;
    padding: 10px 20px;
    border: none;
    height: 350px;
    line-height: 1.7;
}
.single_of_product:hover{
    border: 1px solid gray;
}
.single_img{
    height: 200px;
    object-fit: contain;
}
.cart_button{
    background-color: gold;
    width: 150px;
    align-self: center;
    border: 0.1px solid black;
    padding: 5px;
}
.link{
    text-decoration: none;
}

